/*=========================
*** General Properties ***
=========================*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  html,
  body,
  #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  body {
    padding-top: 50px;
  }

  .table {
    margin-bottom: 0px;
  }

  ul {
      list-style-type: none;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0;
  }

  /*============
  *** Colors ***
  =============*/

  .white {
    color: #fff;
  }

  /* gray table text */
  .light-gray {
          color: rgb(135,135,135);
  }

  /*===================
  *** Modal Windows ***
  ====================*/
  .modal-body {
      min-height: 200px;
  }


  /* Navigation Bar */
#nav-btn {

}
  .navbar-inverse,
  #muni-label {
      background-color: #1A4A96;
      border-color: #080808;
  }

  .navbar-inverse .navbar-nav > li > a {
      color: #fff;
      -webkit-transition: color 0.4s ease-in-out;
      transition: color 0.2s ease-in-out;
  }

  .navbar-inverse .navbar-nav > li > a:hover {
      color: #FFD700;
  }

  .navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
  }

  .navbar-collapse.in {
    overflow-y: scroll;
  }

  .navbar-header .navbar-icon-container {
    margin-right: 15px;
  }

  .navbar-header .navbar-icon {
    line-height: 50px;
    height: 50px;
  }

  .navbar-header a.navbar-icon {
    margin-left: 25px;
  }

  .navbar-title h1 {
      margin: 0;
      padding: 5px 0;
      font-size: 1.5em;
  }

  .navbar-subtitle {
    font-size: 1.05em;
    padding-bottom: 5px;
  }

  /* make municipality search results appear on top of screen */
  .ui-autocomplete {
      z-index: 2000;
  }

  /* municipal searchbar */
  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus {
      background: #E69500;
      color: #fff;
      border-radius:0;
      border: none;
      font-weight: normal;
  }

  /*=========
  *** Map ***
  ==========*/

  #map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .leaflet-control-layers {
    overflow: auto;
  }

  .leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0px;
  }

  .leaflet-control-layers-list input[type="radio"],
  input[type="checkbox"] {
    margin: 2px;
  }

  div.leaflet-top.leaflet-left,
  div.leaflet-top.leaflet-right {
      margin-top: 15px;
  }

  /* Leaflet Zoomhom */
  a.leaflet-control-zoomhome-in,
  a.leaflet-control-zoomhome-out {
      line-height: 26px;
      font-size: 1.5em;
  }

  /*================
  *** Map Legend ***
  =================*/

  ul.legend-cont {
      margin-bottom: 30px;
      font-weight: bold;
  }

  ul.legend-cont:last-child {
      margin-bottom: 0;
  }

  ul.legend-cont li {
      margin-bottom: 10px;
  }

  ul.legend-cont li:last-child {
      margin-bottom: 0;
  }

  /*====================
  *** Awesome Markers ***
  =====================*/

  .awesome-marker i {
      font-size: 20px;
  }

  /* geocode result icon */
  .awesome-marker i.fa.fa-map {
      font-size: 16px;
  }


  /*====================
  *** Popup Windows ***
  =====================*/

  .feature-popup {
      font-size: 1.15em;
  }

  .feature-popup h2 {
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
  }

  .feature-popup h4 {
      font-size: 1.2em;
      font-weight: bold;
      margin-top: 20px;
  }

  .feature-popup hr {
      margin-bottom: 10px;
      border-color: #a8a8a8;
  }

  .feature-popup ul {
      margin-top: 18px;
  }

  .feature-popup ul,
  .feature-popup li {
      margin-left: 0;
      padding-left: 0;
      text-align: left;
  }

  .feature-popup li {
      margin-bottom: 10px;
  }

  .feature-popup li:last-child {
      margin-bottom: 0;
  }

  .feature-popup table tr td {
      width: auto;
      padding-top: 12px;
  }

  .feature-popup table tr td:first-child {
      text-align: right;
  }
  
  .feature-popup table tr td:last-child {
      padding-left: 15px;
  }
  
  
  /*====================
  *** Media Queries ***
  =====================*/
  
  @media screen and (max-width: 414px) {
      
      .navbar .navbar-brand {
          font-size: 0.85em;
      }
      
      div.leaflet-top.leaflet-left,
      div.leaflet-top.leaflet-right {
          margin-top: 10px;
      }    
      
  }
  
  @media screen and (min-width: 415px) {
    
      .navbar .navbar-brand {
      font-size: 18px;
    
      }
  }
  
  @media screen and (orientation: landscape) and (max-width: 700px) {
      
      div.leaflet-top.leaflet-left,
      div.leaflet-top.leaflet-right {
          margin-top: 5px;
      }
      
  }
  
  @media screen and (max-width: 1024px) {
      
      a.leaflet-control-zoomhome-in,
      a.leaflet-control-zoomhome-home,
      a.leaflet-control-zoomhome-out,
      div.leaflet-control-locate > a,
      a.leaflet-control-zoomhome-in:hover,
      a.leaflet-control-zoomhome-home:hover,
      a.leaflet-control-zoomhome-out:hover,
      div.leaflet-control-locate > a:hover {
          min-height: 35px;
          min-width:  35px;
          padding-top: 2px;
          text-align: center;
          vertical-align: middle;        
      }
      
      a.leaflet-control-zoomhome-in,
      a.leaflet-control-zoomhome-out {
          font-size: 2em;
      }
      
      input.geocoder-control-input {
          min-height: 40px;
          min-width: 40px;
          text-align: center;
          vertical-align: middle;
      }
      
      form.leaflet-control-layers-list input,
      form.leaflet-control-layers-list input.leaflet-control-layers-selector {
          height: 20px;
          width: 20px;
      }
      
      form.leaflet-control-layers-list input + span,
      form.leaflet-control-layers-list input.leaflet-control-layers-selector + span {
          display: inline-block;
          font-weight: bold;
      }
      
      .leaflet-container a.leaflet-popup-close-button {
          font-size: 1.25em;
          color: #000;
      }
      
      .leaflet-popup-content {
          padding: 5px;        
      }
      
      .feature-popup {
      font-size: 1em;
      }
      
      .feature-popup h2 {
          margin-top: 10px;
          font-size: 1.25em;
      }
      
      .feature-popup p {
          margin-top: 12px;
          margin-bottom: 0;
      }
      
      .feature-popup li {
      margin-bottom: 5px;
      }
      
  }
  
  @media screen and (min-width: 768px) and (max-width: 1110px) {
      
      body {
          padding-top: 100px;
      }
      
  }

  @media screen and (min-width: 768px) {
 
  }
  
  /*** Print Handling ***/
  @media print {
    .navbar {
      display: none !important;
    }
    .leaflet-control-container {
      display: none !important;
    }
  }

noscript div {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3000;
    height: 100%;
    width: 100%;
    padding: 4em;
    background-color: #FFFFFF;
    font-size: 1.25em;
}

noscript p:last-child {
    font-weight: bold;
}

/*** Loading Screen ***/
#back-cover {
    background: rgba(191, 191, 191, 1);
    margin-top: 64px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    */
    display: none;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #222;
    z-index: 999;
}

#back-cover span {
    font-weight: bold;
    font-size: 1.75em;
    margin-bottom: 15px;
}

.map-loader-icon {
    border: 10px solid #fff;
    border-top: 10px solid #222;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* error message modal */
#layerErrorModal {
   display: none;
   z-index: 2000;
}
.modal-content {
    max-width: 100%;
    word-wrap: break-word;
}
#panelResults {
    position: absolute;
    display: block;
    left: 75px;
    top: 65px;
    opacity: 0;
    z-index: 1050;
}

#panelResults .panel-body {
    overflow-x: hidden;
    width: auto;
    max-width: 400px;
}

#panelResults .panel-body h3 {
    margin: 0 0 20px 0;
    font-size: 1.15em;
    text-align: center;
}

#panelResults .panel-body li {
    margin-left: -20px;
}


/*** Leaflet Controls ****/
.calcite-maps .leaflet-top, .calcite-maps .leaflet-bottom {
    z-index: 500;
}

.calcite-maps .leaflet-control-attribution {
    position: relative;
    right: 20px;
}

.calcite-maps .leaflet-control-zoomhome.leaflet-bar > a,
.calcite-maps .leaflet-control-locate.leaflet-bar > a {
    width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 0;
}

.calcite-maps .leaflet-control-zoomhome,
.calcite-maps .leaflet-control-locate.leaflet-bar,
.calcite-maps .leaflet-control-fullscreen.leaflet-bar.leaflet-control {
	margin-left: 15px;
}

.calcite-maps .leaflet-control-locate.leaflet-bar {
    margin-top: 15px;
}

/* Leaflet Zoom Home */
.calcite-maps.nav-position-top .leaflet-control-zoomhome  {
	margin-top: 80px;
}

.calcite-maps.nav-position-top-fixed .leaflet-control-zoomhome {
	margin-top: 20px;
}

/* Leaflet Locate */
.leaflet-control-locate a {
    color: #000;
}

/* Zoom Controls */
.leaflet-control-zoomhome,
.leaflet-control-zoomhome-out {
    font-size: 1.75em;
}

/* Geocoding Suggestions */
div.geocoder-control-suggestions.leaflet-bar {
    width: auto;
}/*** Layer Popups ***/
div.leaflet-popup-content {
    font-size: 1.15em;
    color: #000;
}

div.leaflet-popup-content h3 {
    font-size: 1.4em;
    font-weight: bold;
	text-align: center;	
}

div.leaflet-popup-content h4 {
    font-size: 1.2em;
}

div.leaflet-popup-content ul {
    margin-bottom: 20px;
    padding-left: 5px;
    list-style-type: square;
}

div.leaflet-popup-content span.gray-text {
    color: #444;
}/*** Media Query ***/
@media screen and (max-width: 767px) {
    /*** Panels ***/
    .panel-container,
    .panel-group {
        z-index: 2000;
    }    
    .calcite-maps .panel-body {
        overflow-y: scroll;
        min-height: 200px;
    }    
    #panelSearch .panel-control {
        padding: 5px;
    }    
    #panelSearch .panel-body {
        min-height: 350px;
    }   
    li.dropdown.open ul.dropdown-menu li:active {
        background: #75a8c9;          
    }
    #ui-datepicker-div {
        z-index: 1500 !important;
    }
    #back-cover {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 875px) {
    .calcite-maps .navbar-title h1 {
        font-size: 1.05em;
    }    
    .calcite-maps .navbar-subtitle {
        font-size: 0.75em;
    }
}