html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  html,
  body,
  #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  body {
    padding-top: 50px;
  }

  .table {
    margin-bottom: 0px;
  }

  ul {
      list-style-type: none;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0;
  }

  /*============
  *** Colors ***
  =============*/

  .white {
    color: #fff;
  }

  /* gray table text */
  .light-gray {
          color: rgb(135,135,135);
  }

  /* navigation bar */
  nav {
      background-color: #196fa6;
  }

  nav ul.dropdown.dropdown-menu {
      right: 10;
      left: inherit;
  }

  nav button.nav-link.dropdown-toggle {
      background-color: #000;
      border-color: #fff;
  }


/* cards */
#accordionExample {
    z-index: 1100;
}

  /*=========
  *** Map ***
  ==========*/

  #map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }